body {
    background-image: url("../images/background.jpg");
    overflow-x: hidden;
}

header {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    color: purple;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 55px white, 0 0 75px white;    
    text-decoration-style: solid;
    text-decoration-line: overline;
    text-decoration-color: purple;
    text-emphasis: 100px;
    
}
h2 {
    font-family: 'Galada', cursive;
    text-align: center;
    color: purple;
    z-index: 1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px  purple, 0 0 30px purple, 0 0 40px purple, 0 0 55px  purple, 0 0 75px  purple;
}
h3 {
    font-family: 'Galada', cursive;
    color: purple;
    text-align: center;
    z-index: 1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 55px white, 0 0 75px white;    
    text-decoration-style: solid;
    text-decoration-line: overline;
    text-decoration-color: purple;
    text-emphasis: 100px;
}
p {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 55px white, 0 0 75px white;    
    text-decoration-style: solid;
    text-decoration-line: overline;
    text-decoration-color: purple;
    text-emphasis: 100px;
}