body {
    background-image: url("../images/background.jpg");
    overflow-x: hidden;
}

header {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    color: white;
}
h2 {
    font-family: 'Galada', cursive;
    text-align: center;
    color: purple;
    z-index: 1;
    font-size: 300%;
}
h3 {
    font-family: 'Galada', cursive;
    color: purple;
    text-align: center;
    z-index: 1;
}